In [2]:
#SQLAlchemy Loading
from sqlalchemy import create_engine
from getpass import getpass
import pandas as pd

engine = create_engine(
    (("mysql+pymysql://root:")+getpass()+("@localhost/sakila")),
    echo=True,
)

········

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [4]:
#Alternative Login with Error
from sqlalchemy import create_engine
import pymysql
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        password=getpass("Enter password: "),
        database="sakila"
    ) as connection:
        print(connection)
        
except Error as e:
    print(e)
engine = create_engine(connection)

Enter password: ········
<mysql.connector.connection.MySQLConnection object at 0x000002342A2FB2E0>

AttributeError: 'MySQLConnection' object has no attribute '_instantiate_plugins'

In [ ]:
#May Results Table
results_may = engine.execute("SELECT rentals_may.customer_id, count(rentals_may.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_may JOIN customer ON rentals_may.customer_id = customer.customer_id group by customer_id order by count desc")
may = [dict(row) for row in results_may.fetchall()]
may

In [5]:
#Creating May Dataframe
maydf2 = pd.read_sql("SELECT rentals_may.customer_id, count(rentals_may.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_may JOIN customer ON rentals_may.customer_id = customer.customer_id group by customer_id order by count desc", con=engine)
#Checking May Dataframe
maydf2.head()

2021-01-22 13:11:16,724 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-22 13:11:16,724 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,728 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-22 13:11:16,729 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,732 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-22 13:11:16,732 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,733 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-22 13:11:16,734 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,738 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-22 13:11:16,739 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,739 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-22 13:11:16,740 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,741 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-22 13:11:16,742 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,744 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT rentals_may.customer_id, count(rentals_may.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_may JOIN customer ON rentals_may.customer_id = customer.customer_id group by customer_id order by count desc`
2021-01-22 13:11:16,744 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:16,745 INFO sqlalchemy.engine.base.Engine ROLLBACK
2021-01-22 13:11:16,746 INFO sqlalchemy.engine.base.OptionEngine SELECT rentals_may.customer_id, count(rentals_may.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_may JOIN customer ON rentals_may.customer_id = customer.customer_id group by customer_id order by count desc
2021-01-22 13:11:16,746 INFO sqlalchemy.engine.base.OptionEngine {}

   customer_id  count  FirstName LastName
0          197      8        SUE   PETERS
1          506      7     LESLIE   SEWARD
2          109      7       EDNA     WEST
3          269      6  CASSANDRA  WALTERS
4          239      6     MINNIE   ROMERO

In [ ]:
#Creating June Results Table
results_june = engine.execute("SELECT rentals_june.customer_id, count(rentals_june.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_june JOIN customer ON rentals_june.customer_id = customer.customer_id group by customer_id order by count desc")
june = [dict(row) for row in results_june.fetchall()]
june

In [6]:
#Creating June Dataframe
junedf2 = pd.read_sql("SELECT rentals_june.customer_id, count(rentals_june.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_june JOIN customer ON rentals_june.customer_id = customer.customer_id group by customer_id order by count desc", con=engine)
#Checking June Dataframe
junedf2.head()

2021-01-22 13:11:19,669 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT rentals_june.customer_id, count(rentals_june.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_june JOIN customer ON rentals_june.customer_id = customer.customer_id group by customer_id order by count desc`
2021-01-22 13:11:19,670 INFO sqlalchemy.engine.base.Engine {}
2021-01-22 13:11:19,671 INFO sqlalchemy.engine.base.Engine ROLLBACK
2021-01-22 13:11:19,672 INFO sqlalchemy.engine.base.OptionEngine SELECT rentals_june.customer_id, count(rentals_june.rental_id) as count, customer.first_name as FirstName, customer.last_name as LastName FROM sakila.rentals_june JOIN customer ON rentals_june.customer_id = customer.customer_id group by customer_id order by count desc
2021-01-22 13:11:19,672 INFO sqlalchemy.engine.base.OptionEngine {}

   customer_id  count FirstName  LastName
0           31     11    BRENDA    WRIGHT
1          454     10      ALEX   GRESHAM
2          329      9     FRANK  WAGGONER
3          295      9     DAISY     BATES
4          561      9       IAN     STILL

In [34]:
#This worked once but doesn't any more
maydf = pd.DataFrame((row) for row in results_may.fetchall())

In [25]:
maydf2.head()

   customer_id  may_count  FirstName LastName
0          197          8        SUE   PETERS
1          506          7     LESLIE   SEWARD
2          109          7       EDNA     WEST
3          269          6  CASSANDRA  WALTERS
4          239          6     MINNIE   ROMERO

In [29]:
#Same as May
junedf = pd.DataFrame((row) for row in results_june.fetchall())
junedf

Empty DataFrame
Columns: []
Index: []

In [7]:
junedf2 = junedf2.rename(columns={'count': 'june_count'})
maydf2 = maydf2.rename(columns={'count': 'may_count'})

In [124]:
#Create the Merged Dataframe
merged = junedf2.merge(maydf2, how='inner', on=['customer_id', 'FirstName', 'LastName'])
merged.head()

   customer_id  june_count FirstName LastName  may_count
0          454          10      ALEX  GRESHAM          1
1          295           9     DAISY    BATES          1
2          561           9       IAN    STILL          2
3          526           9      KARL     SEAL          3
4          267           9    MARGIE     WADE          3

In [125]:
merged.dtypes

customer_id     int64
june_count      int64
FirstName      object
LastName       object
may_count       int64
dtype: object

In [126]:
import numpy as np
merged['May or June?'] = np.where(merged['may_count'] > merged['june_count'], 'May', 'June')
merged.loc[(merged['may_count'] == merged['june_count']),'May or June?']='Equal'

In [127]:
merged.loc[(merged['may_count'] == merged['june_count']),'May or June?']='Equal'

In [128]:
merged

,customer_id,june_count,FirstName,LastName,may_count,May or June?
0,454,10,ALEX,GRESHAM,1,June
1,295,9,DAISY,BATES,1,June
2,561,9,IAN,STILL,2,June
3,526,9,KARL,SEAL,3,June
4,267,9,MARGIE,WADE,3,June
5,457,9,BILL,GAVIN,1,June
6,213,9,GINA,WILLIAMSON,1,June
7,197,8,SUE,PETERS,8,Equal
8,196,8,ALMA,AUSTIN,4,June
9,234,8,CLAUDIA,FULLER,1,June
10,236,8,MARCIA,DEAN,3,June
11,176,8,JUNE,CARROLL,5,June
12,27,8,SHIRLEY,ALLEN,1,June
13,260,8,CHRISTY,VARGAS,1,June
14,380,8,RUSSELL,BRINSON,1,June
15,46,7,CATHERINE,CAMPBELL,3,June
16,1,7,MARY,SMITH,2,June
17,491,7,RICK,MATTOX,2,June
18,451,7,JIM,REA,3,June
19,452,7,TOM,MILNER,3,June
20,146,7,JAMIE,RICE,2,June
21,122,7,THELMA,MURRAY,2,June
22,371,7,BILLY,POULIN,6,June
23,434,7,EDDIE,TOMLIN,1,June
24,66,7,JANICE,WARD,1,June
25,62,7,JOAN,COOPER,2,June
26,107,7,FLORENCE,WOODS,2,June
27,570,7,IVAN,CROMWELL,1,June
28,456,7,RONNIE,RICKETTS,1,June
29,200,7,JEANNE,LAWSON,1,June
30,316,7,STEVEN,CURLEY,3,June
31,187,7,BRITTANY,RILEY,1,June
32,277,7,OLGA,JIMENEZ,1,June
33,576,7,MORRIS,MCCARTER,2,June
34,322,7,JASON,MORRISSEY,2,June
35,26,7,JESSICA,HALL,2,June
36,338,7,DENNIS,GILMAN,1,June
37,149,7,VALERIE,BLACK,1,June
38,343,7,DOUGLAS,GRAF,2,June
39,256,7,MABEL,HOLLAND,5,June
40,431,7,JOEL,FRANCISCO,1,June
41,293,7,MAE,FLETCHER,3,June
42,450,7,JAY,ROBB,1,June
43,86,7,JACQUELINE,LONG,1,June
44,299,7,JAMES,GANNON,2,June
45,171,7,DOLORES,WAGNER,1,June
46,459,7,TOMMY,COLLAZO,1,June
47,384,7,ERNEST,STEPP,4,June
48,29,7,ANGELA,HERNANDEZ,1,June
49,516,6,ELMER,NOE,2,June
50,310,6,DANIEL,CABRAL,1,June
51,191,6,JEANETTE,GREENE,2,June
52,186,6,HOLLY,FOX,2,June
53,84,6,SARA,PERRY,3,June
54,430,6,RAY,HOULE,2,June
55,403,6,MIKE,WAY,2,June
56,468,6,TIM,CARY,5,June
57,550,6,GUY,BROWNLEE,1,June
58,444,6,MARCUS,HIDALGO,2,June
59,515,6,ANDRE,RAPP,2,June
60,498,6,GENE,SANBORN,3,June
61,571,6,JOHNNIE,CHISHOLM,2,June
62,439,6,ALEXANDER,FENNELL,3,June
63,327,6,LARRY,THRASHER,1,June
64,242,6,GLENDA,FRAZIER,3,June
65,405,6,LEONARD,SCHOFIELD,2,June
66,204,6,ROSEMARY,SCHMIDT,4,June
67,193,6,KATIE,ELLIOTT,2,June
68,116,6,VICTORIA,GIBSON,1,June
69,25,6,DEBORAH,WALKER,2,June
70,98,6,LILLIAN,GRIFFIN,1,June
71,120,6,SYLVIA,ORTIZ,2,June
72,215,6,JESSIE,BANKS,2,June
73,253,6,TERRY,CARLSON,3,June
74,472,6,GREG,ROBINS,4,June
75,533,6,JESSIE,MILAM,3,June
76,438,6,BARRY,LOVELACE,3,June
77,358,6,SAMUEL,MARLOW,1,June
78,387,6,JESSE,SCHILLING,4,June
79,230,6,JOY,GEORGE,2,June
80,76,6,IRENE,PRICE,2,June
81,594,6,EDUARDO,HIATT,4,June
82,35,6,VIRGINIA,GREEN,2,June
83,111,6,CARMEN,OWENS,1,June
84,130,6,CHARLOTTE,HUNTER,2,June
85,319,6,RONALD,WEINER,3,June
86,85,6,ANNE,POWELL,2,June
87,514,6,FRANKLIN,TROUTMAN,1,June
88,12,6,NANCY,THOMAS,2,June
89,261,6,DEANNA,BYRD,4,June
90,144,6,CLARA,SHAW,2,June
91,383,6,MARTIN,BALES,2,June
92,479,6,ZACHARY,HITE,2,June
93,113,6,CINDY,FISHER,2,June
94,307,6,JOSEPH,JOY,4,June
95,416,5,JEFFERY,PINSON,3,June
96,239,5,MINNIE,ROMERO,6,May
97,49,5,JOYCE,EDWARDS,4,June
98,279,5,DIANNE,SHELTON,2,June
99,173,5,AUDREY,RAY,2,June
100,249,5,DORA,MEDINA,4,June
101,94,5,NORMA,GONZALES,2,June
102,330,5,SCOTT,SHELLEY,2,June
103,290,5,KRISTINA,CHAMBERS,1,June
104,428,5,HERBERT,KRUGER,1,June
105,391,5,CLARENCE,GAMEZ,5,Equal
106,28,5,CYNTHIA,YOUNG,2,June
107,89,5,JULIA,FLORES,3,June
108,388,5,CRAIG,MORRELL,2,June
109,254,5,MAXINE,SILVA,2,June
110,365,5,BRUCE,SCHWARZ,2,June
111,448,5,MIGUEL,BETANCOURT,2,June
112,190,5,YOLANDA,WEAVER,2,June
113,162,5,LAUREN,HUDSON,3,June
114,427,5,JESUS,MCCARTNEY,1,June
115,221,5,BESSIE,MORRISON,1,June
116,108,5,TRACY,COLE,2,June
117,500,5,REGINALD,KINDER,3,June
118,273,5,PRISCILLA,LOWE,2,June
119,381,5,BOBBY,BOUDREAU,3,June
120,297,5,SHERRI,RHODES,2,June
121,363,5,ROY,WHITING,1,June
122,362,5,NICHOLAS,BARFIELD,1,June
123,194,5,KRISTEN,CHAVEZ,2,June
124,339,5,WALTER,PERRYMAN,1,June
125,82,5,KATHRYN,COLEMAN,2,June
126,589,5,TRACY,HERRMANN,3,June
127,506,5,LESLIE,SEWARD,7,May
128,471,5,DEAN,SAUER,1,June
129,246,5,MARIAN,MENDOZA,5,Equal
130,590,5,SETH,HANNON,1,June
131,216,5,NATALIE,MEYER,1,June
132,123,5,SHANNON,FREEMAN,1,June
133,352,5,ALBERT,CROUSE,1,June
134,237,5,TANYA,GILBERT,2,June
135,148,5,ELEANOR,HUNT,1,June
136,5,5,ELIZABETH,BROWN,3,June
137,155,5,GAIL,KNIGHT,1,June
138,390,5,SHAWN,HEATON,2,June
139,189,5,LORETTA,CARPENTER,1,June
140,574,5,JULIAN,VEST,1,June
141,87,5,WANDA,PATTERSON,2,June
142,109,5,EDNA,WEST,7,May
143,386,5,TODD,TAN,1,June
144,393,5,PHILIP,CAUSEY,2,June
145,517,5,BRAD,MCCURDY,1,June
146,328,5,JEFFREY,SPEAR,1,June
147,426,5,BRADLEY,MOTLEY,1,June
148,77,5,JANE,BENNETT,5,Equal
149,24,5,KIMBERLY,LEE,2,June
150,543,5,LANCE,PEMBERTON,2,June
151,364,5,BENJAMIN,VARNEY,1,June
152,10,5,DOROTHY,TAYLOR,1,June
153,208,5,LUCY,WHEELER,1,June
154,45,5,JANET,PHILLIPS,1,June
155,466,5,LEO,EBERT,1,June
156,7,5,MARIA,MILLER,5,Equal
157,55,5,DORIS,REED,3,June
158,588,5,MARION,OCAMPO,2,June
159,143,5,LESLIE,GORDON,2,June
160,75,5,TAMMY,SANDERS,2,June
161,53,5,HEATHER,MORRIS,6,May
162,308,5,THOMAS,GRIGSBY,1,June
163,201,5,VICKI,FIELDS,3,June
164,57,5,EVELYN,MORGAN,2,June
165,556,5,ARMANDO,GRUBER,3,June
166,21,5,MICHELLE,CLARK,3,June
167,382,5,VICTOR,BARKLEY,2,June
168,151,5,MEGAN,PALMER,2,June
169,23,5,SARAH,LEWIS,3,June
170,481,4,HERMAN,DEVORE,1,June
171,95,4,PAULA,BRYANT,1,June
172,546,4,KELLY,KNOTT,2,June
173,52,4,JULIE,SANCHEZ,1,June
174,349,4,JOE,GILLILAND,1,June
175,209,4,TONYA,CHAPMAN,3,June
176,345,4,CARL,ARTIS,2,June
177,100,4,ROBIN,HAYES,1,June
178,203,4,TARA,RYAN,1,June
179,50,4,DIANE,COLLINS,5,May
180,447,4,CLIFFORD,BOWENS,2,June
181,357,4,KEITH,RICO,3,June
182,287,4,BECKY,MILES,3,June
183,544,4,CODY,NOLEN,2,June
184,442,4,LEROY,BUSTAMANTE,3,June
185,183,4,IDA,ANDREWS,1,June
186,266,4,NORA,HERRERA,2,June
187,511,4,CHESTER,BENNER,2,June
188,463,4,DARRELL,POWER,1,June
189,104,4,RITA,GRAHAM,2,June
190,522,4,ARNOLD,HAVENS,1,June
191,91,4,LOIS,BUTLER,1,June
192,326,4,JOSE,ANDREW,3,June
193,538,4,TED,BREAUX,2,June
194,359,4,WILLIE,MARKHAM,3,June
195,587,4,SERGIO,STANFIELD,2,June
196,465,4,FLOYD,GANDY,1,June
197,270,4,LEAH,CURTIS,2,June
198,484,4,ROBERTO,VU,3,June
199,83,4,LOUISE,JENKINS,3,June
200,499,4,MARC,OUTLAW,1,June
201,158,4,VERONICA,STONE,2,June
202,455,4,JON,WILES,2,June
203,278,4,BILLIE,HORTON,1,June
204,103,4,GLADYS,HAMILTON,2,June
205,166,4,LYNN,PAYNE,1,June
206,304,4,DAVID,ROYAL,3,June
207,537,4,CLINTON,BUFORD,1,June
208,18,4,CAROL,GARCIA,3,June
209,298,4,ERIKA,PENA,1,June
210,125,4,ETHEL,WEBB,1,June
211,354,4,JUSTIN,NGO,3,June
212,360,4,RALPH,MADRIGAL,2,June
213,44,4,MARIE,TURNER,5,May
214,404,4,STANLEY,SCROGGINS,1,June
215,133,4,PAULINE,HENRY,2,June
216,42,4,CAROLYN,PEREZ,1,June
217,182,4,RENEE,LANE,2,June
218,3,4,LINDA,WILLIAMS,2,June
219,374,4,JEREMY,HURTADO,3,June
220,54,4,TERESA,ROGERS,3,June
221,20,4,SHARON,ROBINSON,3,June
222,262,4,PATSY,DAVIDSON,1,June
223,174,4,YVONNE,WATKINS,2,June
224,305,4,RICHARD,MCCRARY,1,June
225,6,4,JENNIFER,DAVIS,3,June
226,573,4,BYRON,BOX,1,June
227,489,4,RICARDO,MEADOR,2,June
228,134,4,EMMA,BOYD,4,Equal
229,378,4,EUGENE,CULPEPPER,1,June
230,566,4,CASEY,MENA,2,June
231,181,4,ANA,BRADLEY,1,June
232,259,4,LENA,JENSEN,3,June
233,333,4,ANDREW,PURDY,1,June
234,227,4,COLLEEN,BURTON,2,June
235,476,4,DERRICK,BOURQUE,2,June
236,492,4,LESTER,KRAUS,1,June
237,477,4,DAN,PAINE,1,June
238,523,4,HARVEY,GUAJARDO,2,June
239,467,4,ALVIN,DELOACH,1,June
240,473,4,JORGE,OLIVARES,3,June
241,429,4,FREDERICK,ISBELL,5,May
242,56,4,GLORIA,COOK,4,Equal
243,275,4,CAROLE,BARNETT,1,June
244,505,4,RAFAEL,ABNEY,2,June
245,112,4,ROSA,REYNOLDS,2,June
246,309,4,CHRISTOPHER,GRECO,2,June
247,422,4,MELVIN,ELLINGTON,1,June
248,32,4,AMY,LOPEZ,3,June
249,292,4,MISTY,LAMBERT,1,June
250,554,4,DWAYNE,OLVERA,2,June
251,303,4,WILLIAM,SATTERFIELD,3,June
252,562,4,WALLACE,SLONE,3,June
253,350,4,JUAN,FRALEY,2,June
254,282,4,JENNY,CASTRO,3,June
255,486,4,GLEN,TALBERT,3,June
256,593,4,RENE,MCALISTER,2,June
257,114,4,GRACE,ELLIS,3,June
258,67,4,KELLY,TORRES,2,June
259,495,4,CHARLIE,BESS,2,June
260,156,4,BERTHA,FERGUSON,2,June
261,493,4,BRENT,HARKINS,1,June
262,147,4,JOANNE,ROBERTSON,2,June
263,497,4,GILBERT,SLEDGE,1,June
264,599,4,AUSTIN,CINTRON,1,June
265,228,4,ALLISON,STANLEY,2,June
266,361,4,LAWRENCE,LAWTON,2,June
267,137,4,RHONDA,KENNEDY,1,June
268,40,4,AMANDA,CARTER,1,June
269,74,4,DENISE,KELLY,1,June
270,318,4,BRIAN,WYMAN,1,June
271,323,3,MATTHEW,MAHAN,3,Equal
272,284,3,SONIA,GREGORY,3,Equal
273,119,3,SHERRY,MARSHALL,3,Equal
274,432,3,EDWIN,BURK,3,Equal
275,334,3,RAYMOND,MCWHORTER,2,June
276,244,3,VIOLA,HANSON,2,June
277,291,3,TONI,HOLT,3,Equal
278,402,3,LUIS,YANEZ,1,June
279,238,3,NELLIE,GARRETT,2,June
280,398,3,ANTONIO,MEEK,1,June
281,529,3,ERIK,GUILLEN,1,June
282,141,3,DEBBIE,REYES,1,June
283,470,3,GORDON,ALLARD,1,June
284,59,3,CHERYL,MURPHY,3,Equal
285,135,3,JUANITA,MASON,2,June
286,530,3,DARRYL,ASHCRAFT,1,June
287,214,3,KRISTIN,JOHNSTON,5,May
288,539,3,MATHEW,BOLIN,2,June
289,127,3,ELAINE,STEVENS,2,June
290,449,3,OSCAR,AQUINO,3,Equal
291,8,3,SUSAN,WILSON,1,June
292,524,3,JARED,ELY,2,June
293,507,3,EDGAR,RHOADS,2,June
294,313,3,DONALD,MAHON,4,May
295,138,3,HAZEL,WARREN,2,June
296,217,3,AGNES,BISHOP,2,June
297,548,3,ALLAN,CORNISH,3,Equal
298,269,3,CASSANDRA,WALTERS,6,May
299,344,3,HENRY,BILLINGSLEY,2,June
300,276,3,BRANDY,GRAVES,2,June
301,353,3,JONATHAN,SCARBOROUGH,1,June
302,115,3,WENDY,HARRISON,3,Equal
303,400,3,BRYAN,HARDISON,4,May
304,396,3,EARL,SHANKS,1,June
305,245,3,COURTNEY,DAY,6,May
306,379,3,CARLOS,COUGHLIN,2,June
307,252,3,MATTIE,HOFFMAN,2,June
308,375,3,AARON,SELBY,4,May
309,243,3,LYDIA,BURKE,1,June
310,199,3,BETH,FRANKLIN,1,June
311,356,3,GERALD,FULTZ,1,June
312,520,3,MITCHELL,WESTMORELAND,1,June
313,331,3,ERIC,ROBERT,2,June
314,167,3,SALLY,PIERCE,3,Equal
315,88,3,BONNIE,HUGHES,1,June
316,565,3,JAIME,NETTLES,2,June
317,11,3,LISA,ANDERSON,1,June
318,575,3,ISAAC,OGLESBY,5,May
319,172,3,BERNICE,WILLIS,3,Equal
320,536,3,FERNANDO,CHURCHILL,2,June
321,37,3,PAMELA,BAKER,2,June
322,272,3,KAY,CALDWELL,4,May
323,513,3,DUANE,TUBBS,1,June
324,311,3,PAUL,TROUT,5,May
325,348,3,ROGER,QUINTANILLA,2,June
326,296,3,RAMONA,HALE,4,May
327,557,3,FELIX,GAFFNEY,2,June
328,421,3,LEE,HAWKS,2,June
329,502,3,BRETT,CORNWELL,4,May
330,164,3,JOANN,GARDNER,1,June
331,582,3,ANDY,VANHORN,1,June
332,385,3,PHILLIP,HOLM,2,June
333,389,3,ALAN,KAHN,1,June
334,118,3,KIM,CRUZ,1,June
335,462,3,WARREN,SHERROD,2,June
336,105,3,DAWN,SULLIVAN,4,May
337,351,3,JACK,FOUST,1,June
338,578,3,WILLARD,LUMPKIN,1,June
339,301,3,ROBERT,BAUGHMAN,3,Equal
340,553,3,MAX,PITT,1,June
341,71,3,KATHY,JAMES,2,June
342,47,3,FRANCES,PARKER,3,Equal
343,572,3,SIDNEY,BURLESON,1,June
344,519,3,RON,DELUCA,1,June
345,581,3,VIRGIL,WOFFORD,2,June
346,154,3,MICHELE,GRANT,3,Equal
347,411,3,NORMAN,CURRIER,2,June
348,346,3,ARTHUR,SIMPKINS,2,June
349,265,3,JENNIE,TERRY,1,June
350,92,3,TINA,SIMMONS,2,June
351,503,3,ANGEL,BARCLAY,4,May
352,17,3,DONNA,THOMPSON,3,Equal
353,58,3,JEAN,BELL,3,Equal
354,240,3,MARLENE,WELCH,3,Equal
355,251,3,VICKIE,BREWER,6,May
356,437,3,RANDALL,NEUMANN,3,Equal
357,414,3,VINCENT,RALSTON,2,June
358,317,3,EDWARD,BAUGH,1,June
359,372,3,STEVE,MACKENZIE,2,June
360,597,3,FREDDIE,DUGGAN,2,June
361,577,3,CLIFTON,MALCOLM,1,June
362,185,3,ROBERTA,HARPER,3,Equal
363,408,3,MANUEL,MURRELL,3,Equal
364,325,3,TIMOTHY,BUNN,1,June
365,280,3,TRACEY,BARRETT,1,June
366,19,3,RUTH,MARTINEZ,6,May
367,420,3,JACOB,LANCE,1,June
368,81,3,ANDREA,HENDERSON,1,June
369,483,3,VERNON,CHAPA,1,June
370,424,3,KYLE,SPURLOCK,1,June
371,595,2,TERRENCE,GUNDERSON,1,June
372,306,2,CHARLES,KOWALSKI,2,Equal
373,210,2,ELLA,OLIVER,1,June
374,376,2,RANDY,GAITHER,1,June
375,102,2,CRYSTAL,FORD,3,May
376,409,2,RODNEY,MOELLER,1,June
377,586,2,KIRK,STCLAIR,2,Equal
378,509,2,RAUL,FORTIER,2,Equal
379,142,2,APRIL,BURNS,3,May
380,560,2,JORDAN,ARCHULETA,1,June
381,464,2,JEROME,KENYON,2,Equal
382,179,2,DANA,HART,3,May
383,33,2,ANNA,HILL,1,June
384,480,2,COREY,HAUSER,3,May
385,222,2,DELORES,HANSEN,5,May
386,51,2,ALICE,STEWART,3,May
387,300,2,JOHN,FARNSWORTH,3,May
388,469,2,WESLEY,BULL,5,May
389,366,2,BRANDON,HUEY,1,June
390,312,2,MARK,RINEHART,4,May
391,584,2,SALVADOR,TEEL,3,May
392,435,2,RICKY,SHELBY,2,Equal
393,569,2,DAVE,GARDINER,5,May
394,373,2,LOUIS,LEONE,1,June
395,60,2,MILDRED,BAILEY,3,May
396,281,2,LEONA,OBRIEN,2,Equal
397,355,2,TERRY,GRISSOM,1,June
398,235,2,JACKIE,LYNCH,2,Equal
399,563,2,KEN,PREWITT,2,Equal
400,69,2,JUDY,GRAY,2,Equal
401,518,2,GABRIEL,HARDER,1,June
402,314,2,GEORGE,LINTON,2,Equal
403,441,2,MARIO,CHEATHAM,1,June
404,232,2,CONSTANCE,REID,2,Equal
405,121,2,JOSEPHINE,GOMEZ,1,June
406,596,2,ENRIQUE,FORSYTHE,6,May
407,131,2,MONICA,HICKS,3,May
408,73,2,BEVERLY,BROOKS,2,Equal
409,485,2,CLYDE,TOBIAS,1,June
410,48,2,ANN,EVANS,3,May
411,286,2,VELMA,LUCAS,1,June
412,532,2,NEIL,RENNER,1,June
413,159,2,JILL,HAWKINS,4,May
414,407,2,DALE,RATCLIFF,1,June
415,535,2,JAVIER,ELROD,4,May
416,324,2,GARY,COY,1,June
417,321,2,KEVIN,SCHULER,3,May
418,117,2,EDITH,MCDONALD,2,Equal
419,474,2,DUSTIN,GILLETTE,1,June
420,397,2,JIMMY,SCHRADER,1,June
421,223,2,MELINDA,FERNANDEZ,1,June
422,161,2,GERALDINE,PERKINS,6,May
423,99,2,EMILY,DIAZ,1,June
424,415,2,GLENN,PULLEN,1,June
425,528,2,CLAUDE,HERZOG,5,May
426,337,2,JERRY,JORDON,3,May
427,184,2,VIVIAN,RUIZ,3,May
428,541,2,DARREN,WINDHAM,2,Equal
429,165,2,LORRAINE,STEPHENS,1,June
430,248,2,CAROLINE,BOWMAN,2,Equal
431,551,2,CLAYTON,BARBEE,5,May
432,274,2,NAOMI,JENNINGS,6,May
433,170,2,BEATRICE,ARNOLD,3,May
434,263,2,HILDA,HOPKINS,2,Equal
435,413,2,MARVIN,YEE,2,Equal
436,65,2,ROSE,HOWARD,2,Equal
437,93,2,PHYLLIS,FOSTER,3,May
438,145,2,LUCILLE,HOLMES,1,June
439,106,2,CONNIE,WALLACE,2,Equal
440,552,2,HUGH,WALDROP,1,June
441,219,2,WILLIE,HOWELL,1,June
442,128,2,MARJORIE,TUCKER,2,Equal
443,257,2,MARSHA,DOUGLAS,3,May
444,542,2,LONNIE,TIRADO,2,Equal
445,180,2,STACY,CUNNINGHAM,1,June
446,504,2,NATHANIEL,ADAM,3,May
447,211,2,STACEY,MONTGOMERY,1,June
448,294,2,SHELLY,WATTS,1,June
449,399,2,DANNY,ISOM,3,May
450,79,2,RACHEL,BARNES,3,May
451,461,2,DEREK,BLAKELY,1,June
452,9,2,MARGARET,MOORE,3,May
453,150,2,DANIELLE,DANIELS,3,May
454,501,2,RUBEN,GEARY,2,Equal
455,168,1,REGINA,BERRY,2,May
456,369,1,FRED,WHEAT,4,May
457,302,1,MICHAEL,SILVERMAN,2,May
458,394,1,CHRIS,BROTHERS,2,May
459,14,1,BETTY,WHITE,5,May
460,460,1,LEON,BOSTIC,4,May
461,288,1,BOBBIE,CRAIG,4,May
462,580,1,ROSS,GREY,1,Equal
463,110,1,TIFFANY,JORDAN,2,May
464,43,1,CHRISTINE,ROBERTS,2,May
465,508,1,MILTON,HOWLAND,2,May
466,490,1,SAM,MCDUFFIE,2,May
467,494,1,RAMON,CHOATE,1,Equal
468,564,1,BOB,PFEIFFER,2,May
469,525,1,ADRIAN,CLARY,1,Equal
470,220,1,CHARLENE,ALVAREZ,2,May
471,417,1,TRAVIS,ESTEP,3,May
472,207,1,GERTRUDE,CASTILLO,6,May
473,547,1,KURT,EMMONS,3,May
474,549,1,NELSON,CHRISTENSON,4,May
475,136,1,ANITA,MORALES,1,Equal
476,545,1,JULIO,NOLAND,2,May
477,2,1,PATRICIA,JOHNSON,1,Equal
478,198,1,ELSIE,KELLEY,5,May
479,225,1,ARLENE,HARVEY,2,May
480,247,1,STELLA,MORENO,3,May
481,436,1,TROY,QUIGLEY,3,May
482,72,1,THERESA,WATSON,3,May
483,157,1,DARLENE,ROSE,2,May
484,231,1,GEORGIA,JACOBS,3,May
485,250,1,JO,FOWLER,5,May
486,70,1,CHRISTINA,RAMIREZ,1,Equal
487,496,1,TYLER,WREN,2,May
488,36,1,KATHLEEN,ADAMS,2,May
489,192,1,LAURIE,LAWRENCE,1,Equal
490,419,1,CHAD,CARBONE,1,Equal
491,443,1,FRANCISCO,SKIDMORE,1,Equal
492,152,1,ALICIA,MILLS,2,May
493,531,1,JAMIE,WAUGH,2,May
494,367,1,ADAM,GOOCH,2,May
495,425,1,FRANCIS,SIKES,1,Equal
496,412,1,ALLEN,BUTTERFIELD,4,May
497,22,1,LAURA,RODRIGUEZ,3,May
498,126,1,ELLEN,SIMPSON,3,May

In [129]:
merged['May or June?'].unique()

array(['June', 'Equal', 'May'], dtype=object)

In [144]:
def getMayJune(df):
    df1 = df.set_index('customer_id')
    customer_id= input("Please input ID: ")
    try:
        print(df1.loc[int(customer_id), 'FirstName'], df1.loc[int(customer_id), 'LastName']), print(df1.loc[int(customer_id), 'May or June?']) 
    except:
        return 'ID Not Found'

In [145]:
getMayJune(merged)

Please input ID: 197
SUE PETERS
Equal